html { 
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(background/gym.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contact-section{
  padding: 40px 0;
}

.contact-section h1 {
  text-align: center;
  color: deepskyblue;
}

.contact-section h2 {
  text-align: center;
  color: white;
  font-size: 17px;
  margin: 11px;
}

.border {
  width: 130px;
  height: 3px;
  background: deepskyblue;
  margin: 19px auto;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  border-radius: 7px;
  background: white;
  padding: 20px 40px;
  outline: none;

  transition: 0.5s;
}

.contact-form-text:focus {
  box-shadow: 0 0 4px 4px deepskyblue;
}

textarea.contact-form-text {
  resize: none;
  height: 120px;
}

.contact-form-btn {
  float: right;
  border: 0;
  background: deepskyblue;
  color: white;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.contact-form-btn:hover {
  background: lightblue;
}
