
.title h2 {
  color: deepskyblue;
  font-size: 27px;
  text-align: center;
}

.border {
  width: 110px;
  height: 3px;
  background: deepskyblue;
  margin: 15px auto;
}

.title h3 {
  text-align: center;
  font-size: 19px;
  margin-top: 40px;
  color: white;   
}

.text {
  display: block;
  margin-top: 10% ;
  margin-left: -5%;
  text-align: center;
  transform: translate(61%,47%);
  width: 50%;   
  font-size: 20px;
  color: white;
  text-align: justify;
}
